.item{
	position: relative;
}
.item a{
    text-decoration: none;
}
.mainProduct_listImg {
    overflow: hidden;
    margin: 0 auto 5px;
    text-align: center;
}
.ranking {
	position: absolute;
	top: 10px;
	right: 0;
	width: 40px;
}
.ranking span{
    position: absolute;
    left: 8px;
    top: 16px;
}
.mainProduct_listTit{
    overflow: hidden;
    height: 35px;
    font-size: 16px;
    color: #555;
    line-height: 18px;
}
.category{
    margin: 70px 0px;
    padding: 30px 0px;
    border-top: 1px dashed #928484;
}
.sp a{
    text-decoration: none;
}
.list_sp .box_sp{
    padding-top: 40px;
}
.list_sp >li >p{
    font-size: 18px;
    line-height: 40px;
    border-bottom: 2px solid black;
}
.list_box_right ul li{
    border: 1px solid #eee;
    border-top: 0;
}
.list_box_left .img_Box{
    width: 100%;
    height: 100%;
}
.box_sp .list_box{
    margin: 0px;
}
.box_sp .list_box .list_box_left{
    padding: 0px;
}
.mainService{
    margin-top: 15px;
    padding-top: 15px;
    border-top: 3px solid #000;
}
.mainService_left .customer{
    margin-top: 5px;
    padding-top: 20px;
    background-color: #CCC4C4;
    padding-left: 30px;
}
.mainService_left h4{
    font-size: 24px;
    color: #222;
    margin-top: -6px;
}
.mainService_left .sdt{
    font-size: 24px;
    color: #0068b7;
}
.mainService_left p{
    margin: 0px;
    font-size: 20px;
}
.mainService_center h4{
    text-align: center;
}
.mainService_center_list{
    text-align: center;
}
.mainService_center_list li{
    display: inline-block;
}
.note{
    margin: 10px 0px;
}
.note a{
    text-decoration: none;
    color: #0E0E0E;
}
.note .notice_list p{
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 0px;
}
.footer{
    position: relative;
    margin: 20px 0px;
    border-top: 1px solid #000;
}
.footer_top{
    border-bottom: 1px solid #ededed;  
    padding-bottom: 5px;
}
.nav-link{
    color: #0A0A0A;
}
.nav-item_top{
    position: absolute;
    right: 0px;
}
.footer_bottom{
    margin: 20px;
}
.footer_img{
    text-align: center;
}
.marklayer img{
    height: 40px;
}
.container{
    position: relative;
}