*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 1200px;
	margin: 5px auto;
  position: relative;
}
li{
	list-style: none;
}
.member{
  float: right;
}
.member li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #BFB9B9;
}
.member li:last-child{
	border: none;
}
.member li a{
	text-decoration: none;
	color: #736E6E;
}
.login{
  clear: both;
}
.logo{
  text-align: center;
}
.cart_left li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #BFB9B9;
}
.cart_left li:last-child{
	border: none;
}
.cart_right{
  float: right;
}
.cart_right li{
	float: left;
	padding: 0px 10px;
	border-right: 1px solid #BFB9B9;
}
.cart_right li:last-child{
	border: none;
}
.menu{
	border-top: 1px solid #e5e5e5;
	border-bottom: 2px solid #2b2b2b;
}
.menu-area{
  position: static;
}
.mega-area{
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  padding: 15px;
}
.dropdown-item{
  padding: 5px 0;
}
.navbar{
  margin-top: 2%;
}

#mainnav ul{
  background: #3B5998;
  list-style: none;
  padding: 0px;
  text-align: left;
  margin: 5px 0px;
}
#mainnav >ul >li{
  position: relative;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #fff;
}
#mainnav ul .thefirst{
  background: #1D1F20;
}
#mainnav ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 0 16px;
  display: block;

}
#mainnav li:hover{
  background: #17306E;
  transition: all 1s;
}
#mainnav .sub-menu{
  position: absolute;
  left: 255px;
  top: -5px;
  width: 275px;
  display: none;
  border-left: 1px solid #fff;
  z-index: 10;
  height: 400px;
}
#mainnav .sub-menu2{
  position: absolute;
  left: 273px;
  top: -5px;
  width: 275px;
  border-left: 1px solid #fff;
  display: none;
  z-index: 10;
  height: 400px;
}
#mainnav li:hover .sub-menu2{
  display: block;
}
#mainnav .sub-menu h4{
	padding: 5px;
	background: #9A8585;
}
#mainnav li:hover .sub-menu{
  display: block;
  background: #3B5998;
  color: red;
  transition: all 1s;
}
.box{
	margin-top: 10px;
}
.slide{
	border-bottom: 1px solid #C9C4C4;
}
